.landing-container {
    background-color: aliceblue;
    background-image: url('../assets/images/fondo.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(162, 73, 73);
    padding: 20px; /* Agregado un pequeño padding para que no quede tan pegado al borde */
    box-sizing: border-box; /* Asegura que el padding no se "coma" el espacio */
    position: relative; /* Asegura que el contenido se pueda superponer sobre el fondo si es necesario */
  }
  
  /* Añadir un sombreado sutil al texto */
  h1, p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Añade sombra sutil al texto */
  }
  
  /* Ajustar el tamaño del título */
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out; /* Agregar animación de entrada */
  }
  
  /* Ajustar el tamaño del párrafo */
  p {
    font-size: 1.5em;
    animation: fadeIn 1.5s ease-out; /* Animación del párrafo también */
  }

