#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button{
  background-color:transparent;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/39/Pokeball.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
  border-bottom: 4px solid #ffcc00;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  border: 2px solid white;
}

nav a:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}
